body {
    background: #34495e;
    color: white;
}

.geral {
    margin-top: 15px;
}

.menu-lateral {
    border-radius: 20px;
    margin-right: 15px;
    margin-top: 45px;
}

.menu-lateral h3 {
    color: azure;
}